<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../shadycss/apply-shim.html">

<dom-module id="od-field">
    <template>
        <style>
             :host {
                display: block;
                font-size: inherit;
                width: 100%;
            }

             :host([left-justify]) .left {
                display: none;
            }

             :host([right-justify]) .right {
                display: none;
            }

             :host([emphasis]) .emphasis {
                display: block;
            }

             :host([fadeIn]) {
                opacity: 0;
                animation-duration: var( --od-field-anim-duration, 1.5s);
                animation-delay: var( --od-field-anim-delay, 0);
                animation-fill-mode: forwards;
                animation-name: fadeAnimation;
            }

             :host([slideFromRight]) {
                opacity: 0;
                animation-duration: var( --od-field-anim-duration, 1.25s);
                animation-delay: var( --od-field-anim-delay, 0);
                animation-fill-mode: forwards;
                animation-name: slideFromRightAnimation;
            }

             :host([popIn]) {
                opacity: 0;
                animation-duration: var( --od-field-anim-duration, 0.5s);
                animation-delay: var( --od-field-anim-delay, 0);
                animation-fill-mode: forwards;
                animation-name: popInAnimation;
            }

            .od-table {
                width: 100%;
                display: table;
            }

            .od-row {
                display: table-row;
            }

            .od-cell {
                display: table-cell;
            }

            .emphasis-container {
                position: relative;
            }

            .emphasis {
                display: none;
                position: absolute;
                height: 100%;
                background-color: #663366;
                @apply --od-field-emphasis-theme;
            }

            #underline-row {
                display: none;
            }

            #underline {
                position: absolute;
                background: #061B1E;
                height: var( --od-field-underline-height, 6em);
                @apply --od-field-underline-theme;
            }

            #underline-container {
                position: relative;
                height: var( --od-field-underline-height, 6em);
            }

            #overline-row {
                display: none;
            }

            #overline {
                position: absolute;
                background: #061B1E;
                @apply --od-field-overline-theme;

                height: var( --od-field-overline-height, 6em);
            }

            #overline-container {
                position: relative;
                height: var( --od-field-overline-height, 6em);
            }

            #content {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                font-family: 'Ropa Sans', sans-serif;
                @apply --od-field-content-theme;
            }
            /* Small Screens*/

            @media all and (max-width: 500px) {
                .navigation {
                    flex-direction: column;
                }
            }

            ;
            /* Animation Keyframes */

            @keyframes fadeAnimation {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 100;
                }
            }

            @keyframes slideFromRightAnimation {
                from {
                    opacity: 0;
                    margin-left: 100%;
                    width: 300%;
                }

                to {
                    opacity: 100;
                    margin-left: 0%;
                    width: 100%;
                }
            }

            @keyframes popInAnimation {
                0% {
                    opacity: 0;
                    transform: scale(2.0);
                    -webkit-transform: scale(2.0);
                }

                1% {
                    opacity: 100;
                }

                100% {
                    opacity: 100;
                    transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                }
            }
        </style>

        <div class="od-table">

            <div class="od-row" id='overline-row'>
                <div class="od-cell left"></div>
                <div class="od-cell center" id="overline-container">
                    <div id="overline"></div>
                </div>
                <div class="od-cell right"></div>
            </div>

            <div class="od-row">
                <div class="od-cell left emphasis-container">
                    <div class='emphasis' id='left-emphasis'></div>
                </div>
                <div class="od-cell center" id="content-container">
                    <div id="content">
                        <slot></slot>
                    </div>
                </div>
                <div class="od-cell right emphasis-container">
                    <div class='emphasis' id='right-emphasis'></div>
                </div>
            </div>

            <div class="od-row" id='underline-row'>
                <div class="od-cell left"></div>
                <div class="od-cell center" id="underline-container">
                    <div id="underline"></div>
                </div>
                <div class="od-cell right"></div>
            </div>

        </div>

    </template>
    <script>
        class OdField extends Polymer.Element {

            static get is() {
                return 'od-field'
            }

            static get properties() {
                return {
                    leftJustify: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },
                    rightJustify: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },
                    contentWidth: {
                        type: Number,
                        value: 50,
                        observer: '_computeWidth'
                    },

                    underline: {
                        type: Number,
                        observer: '_createUnderline'
                    },

                    overline: {
                        type: Number,
                        observer: '_createOverline'
                    },

                    emphasis: {
                        type: Boolean,
                        value: false,
                        observer: '_updateEmphasis'
                    },

                    uReverse: {
                        type: Boolean,
                        value: false
                    },

                    oReverse: {
                        type: Boolean,
                        value: false
                    },

                    bounded: {
                        type: Boolean,
                        value: false
                    }
                }
            }

            ready() {
                super.ready();
                window.addEventListener('od-resize-event', this._updateStyles);
            }

            _computeWidth() {
                if ( this.contentWidth !== null && this.contentWidth !== undefined ) {
                    if ( this.contentWidth < 0 ) {
                        this.contentWidth = 0;
                    }
                    if ( this.contentWidth > 100 ) {
                        this.contentWidth = 100;
                    }
                    this.shadowRoot.querySelector( "#content-container" ).style.width = this.contentWidth + '%';
                }
            }

            _createUnderline() {
                if ( this.underline === undefined ) {
                    return;
                }

                this.shadowRoot.querySelector( '#underline-row' ).style.display = 'table-row';
                this._updateUnderline();
            }

            _createOverline() {
                if ( this.overline === undefined ) {
                    return;
                }

                this.shadowRoot.querySelector( '#overline-row' ).style.display = 'table-row';
                this._updateOverline();
            }

            _updateStyles() {
                if ( this.underline !== undefined ) {
                    this._updateUnderline();
                }
                if ( this.overline !== undefined ) {
                    this._updateOverline();
                }
                this._updateEmphasis();
            }

            _updateUnderline() {
                var underline = this.$.underline;
                underline.style.width = this.underline + '%';

                var uDif = 100 - this.underline;
                var container = this.shadowRoot.querySelector( '#underline-container' );

                this._updateLine( underline, container, uDif );
            }

            _updateOverline() {
                var overline = this.$.overline;
                overline.style.width = this.overline + '%';

                var oDif = 100 - this.overline;
                var container = this.shadowRoot.querySelector( '#overline-container' );

                this._updateLine( overline, container, oDif );
            }

            _checkParentNode() {
                var parent = this.parentNode;
                if (parent === undefined) {
                    return;
                }
                if (parent.parentNode === null) {
                    parent = Polymer.dom(parent).node.host;
                }
                return parent;
            }

            _updateLine( line, container, dif ) {

                var newLineWidth = line.offsetWidth;
                var containerWidth = container.offsetWidth;

                var leftMargin = this.getBoundingClientRect().left - document.body.getBoundingClientRect().left;
                var rightMargin = 0;
                var pageWidth = 0;
                var newDif = 0;
                if ( this.pageWidth !== undefined ) {
                    pageWidth = this.pageWidth;
                    this._checkParentNode();
                    rightMargin = document.body.getBoundingClientRect().width - parent.getBoundingClientRect().width - leftMargin;
                    newDif = parent.getBoundingClientRect().width - newLineWidth;
                } else {
                    pageWidth = document.body.getBoundingClientRect().width;
                    this._checkParentNode();                  
                    rightMargin = document.body.getBoundingClientRect().width - parent.getBoundingClientRect().width - leftMargin;
                    newDif = parent.getBoundingClientRect().width - newLineWidth;
                }

                var leftColWidth = this.shadowRoot.querySelector( '.left.emphasis-container' ).offsetWidth;
                var newWidth = 0;

                if ( this.rightJustify ) {
                    if ( !this.uReverse ) {
                        line.style.left = dif + '%';
                    }
                    if ( this.bounded ) {
                        if ( this.uReverse ) {
                            line.style.left = '-' + leftColWidth + 'px';
                        }
                    } else {
                        if ( this.uReverse ) {
                            newWidth = newLineWidth + leftMargin;
                            var newOffset = leftColWidth + leftMargin;
                            line.style.left = '-' + newOffset + 'px';
                        } else {
                            newWidth = newLineWidth + rightMargin;
                        }
                    }

                } else if ( this.leftJustify ) {

                    if ( this.uReverse ) {
                        line.style.left = newDif + 'px';
                    }
                    if ( !this.bounded ) {
                        if ( this.uReverse ) {
                            newWidth = newLineWidth + rightMargin;
                        } else {
                            newWidth = newLineWidth + leftMargin;
                            line.style.left = '-' + leftMargin + 'px';
                        }
                    }

                } else {
                    if ( this.bounded ) {
                        line.style.left = dif / 2 + '%';
                    } else {
                        newWidth = pageWidth;
                        var newOffset = leftColWidth + leftMargin;
                        line.style.left = '-' + newOffset + 'px';
                    }
                }

                if ( !this.bounded ) {
                    line.style.width = newWidth + 'px';
                }
            }

            _updateEmphasis() {
                if ( this.emphasis === false ) {
                    return;
                }

                var leftMargin = this.getBoundingClientRect().left - document.body.getBoundingClientRect().left;
                var rightMargin = 0;
                if ( this.pageWidth !== undefined ) {
                    this._checkParentNode();
                    rightMargin = this.pageWidth - parent.getBoundingClientRect().width - leftMargin;
                } else {
                    this._checkParentNode();
                    rightMargin = document.body.getBoundingClientRect().width - parent.getBoundingClientRect().width -
                        leftMargin;
                }

                var leftColWidth = this.shadowRoot.querySelector( '.left.emphasis-container' ).offsetWidth;
                var rightColWidth = this.shadowRoot.querySelector( '.right.emphasis-container' ).offsetWidth;

                var leftEmphasis = this.shadowRoot.querySelector( '#left-emphasis' );
                if ( this.bounded ) {
                    leftEmphasis.style.width = '100%';
                } else {
                    var newWidth = leftColWidth + leftMargin;
                    leftEmphasis.style.width = newWidth + 'px';
                    leftEmphasis.style.left = '-' + leftMargin + 'px';
                }

                var rightEmphasis = this.shadowRoot.querySelector( '#right-emphasis' );
                if ( this.bounded ) {
                    rightEmphasis.style.width = '100%';
                } else {
                    var newWidth = rightColWidth + rightMargin;
                    rightEmphasis.style.width = newWidth + 'px';
                }
            }
        }
        customElements.define( OdField.is, OdField );
    </script>
</dom-module>